<div class="container-register">
  <button
    type="button"
    class="btn btn-primary btn-lg"
    id='editButton'
  >Edit Profile</button>
  <ul>
      <form >
    <li>
      First Name:
      {{userName}}
      <input class= "forform" value = {{userName}}>
    </li>
    <li>
      Last Name:
      {{userSurname}}
      <input class= "forform" value = {{userSurname}}>
    </li>
    <li>
      Email:
      {{userEmail}}
      <input class= "forform" value = {{userEmail}}>
    </li>
    
    
    </form>
  </ul>
  <ul class="fileurls">
    {{#each files}}
      <li>
        <a href="{{this.path}}">{{this.path}}</a>
      </li>
    {{/each}}
    </ul>

</div>

<style>
      
.forform{
  display: none;
}
</style>
