<div class="container-register">
  <ul class="profile-ul">
      <form >
    <li class="profile-item">
      First Name:
      {{userName}}
      <input class= "forform" value = {{userName}}>
    </li>
    <li class="profile-item">
      Last Name:
      {{userSurname}}
      <input class= "forform" value = {{userSurname}}>
    </li>
    <li class="profile-item">
      Email:
      {{userEmail}}
      <input class= "forform" value = {{userEmail}}>
    </li>
    {{#each files}}
      <li class="profile-item">
        //получаем массив имя всех файлов. Files:
        <a href="{{this.url}}">{{this.name}}</a>
      </li>
    {{/each}}
    </form>
  </ul>
    <button
    type="button"
    class="btn btn-primary btn-lg profile-button"
    id='editButton'
  >Edit Profile</button>

</div>

