<div class="container-register">

  <ul>
    <form id="editForm" data-entryid={{userId}}>
      <li>
        First Name:
        {{userName}}
        <input name='name' class="forform" value={{userName}} />
      </li>
      <li>
        Last Name:
        {{userSurname}}
        <input name='surName'class="forform" value={{userSurname}} />
      </li>
      <li>
        Email:
        {{userEmail}}
        <input name='email' class="forform" value={{userEmail}} />
      </li>
      {{#each files}}
        <li>
          {{!-- получаем массив имя всех файлов. Files: --}}
          <a href="{{this.url}}">{{this.name}}</a>
        </li>
      {{/each}}
      <button type="button" class="btn btn-primary btn-lg" id="editButton">Edit
        Profile</button>
    </form>
  </ul>

</div>

