<div class="container-register">
<ul>
    <li>
        First Name: {{userName}}
    </li>
    <li>
        Last Name: {{userSurname}}
    </li>
     <li>
        Email: {{userEmail}}
    </li>
    {{#each files}}
     <li> //получаем массив имя всех файлов.
         Files:
        <a href= '{{this.url}}'>{{this.name}}</a>
    </li>
    {{/each}}
</ul>
</div>